.idea/
__pycache__/
arousal/.idea/
arousal/__pycache__/
arousal/.ipynb_checkpoints/
arousal/.vscode/
arousal/output/__pycache__/
arousal/GUI/.idea/
arousal/GUI/.vscode/
arousal_selection_gui/.idea/
arousal_selection_gui/__pycache__/
client_script/__pycache__/
emobank_data/.ipynb_checkpoints/
fb_data/.idea/
fb_data/.vscode/
fb_data/.ipynb_checkpoints/
valence/yarn.lock
valence/.idea/
